Repository 4CO4CO/4co4co-frontend, pull requests merged in 2025-07, with the labels that each got.

#19 feat: 생성 대기 화면 구현
  src/assets/loading.svg
  src/pages/loading/Loading.css.ts
  src/pages/loading/Loading.tsx
  src/pages/loading/components/completionModal/CompletionModal.css.ts
  src/pages/loading/components/completionModal/CompletionModal.tsx
  src/pages/loading/components/loadingAnimation/LoadingAnimation.css.ts
  src/pages/loading/components/loadingAnimation/LoadingAnimation.tsx
  src/pages/loading/constants/loadingTexts.ts
  src/routes/Router.tsx
  src/routes/lazy.ts
Labels: :sparkles: FEAT, :art: STYLE

#27 refactor: 디자인 시스템 공용 컴포넌트 제작 및 적용
  src/components/common/Alert/Alert.css.ts
  src/components/common/Alert/Alert.tsx
  src/components/common/Button/Button.css.ts
  src/components/common/Button/Button.tsx
  src/components/common/TextArea/TextArea.css.ts
  src/components/common/TextArea/TextArea.tsx
  src/components/common/TextField/TextField.css.ts
  src/components/common/TextField/TextField.tsx
  src/components/common/Toast.css.ts
  src/components/common/Toast/Toast.css.ts
  src/components/common/Toast/Toast.tsx
  src/pages/entry/Entry.css.ts
  src/pages/entry/Entry.tsx
  src/pages/lanternDetail/LanternDetail.css.ts
  src/pages/lanternDetail/LanternDetail.tsx
  src/pages/lanternDetail/components/CloseButton/CloseButton.css.ts
  src/pages/loading/Loading.css.ts
  src/pages/loading/Loading.tsx
  src/pages/loading/components/completionModal/CompletionModal.css.ts
  src/pages/loading/components/completionModal/CompletionModal.tsx
  src/pages/loading/components/loadingAnimation/LoadingAnimation.css.ts
  src/pages/main/Main.css.ts
  src/pages/main/components/Intro/Intro.css.ts
  src/pages/main/components/Process/Process.css.ts
  src/pages/main/components/ProcessItem/ProcessItem.css.ts
  src/pages/main/components/Ticket/Ticket.css.ts
  src/pages/main/components/Ticket/Ticket.tsx
Labels: :recycle: REFACTOR

#33 feat: 풍등 목록 구현
  src/apis/lantern/index.ts
  src/components/common/alert/index.tsx
  src/components/common/lantern/constants/index.ts
  src/pages/lantern/Lantern.css.ts
  src/pages/lantern/Lantern.tsx
  src/pages/lantern/utils/index.ts
  src/queries/lantern/getLanternList.ts
Labels: :sparkles: FEAT
